/.vs

equation/Debug/

equation/x64/

equation/Release/

Release/

equation/.vs/

equation/equation.sln

equation/equation/Debug/

equation/equation/x64/

equation/equation/Release/

*.vcxproj

*.filters

*.user

